/* styles.css */

/* Стили для body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Стили для main */
main {
  max-width: 960px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  color: #008f91;
}

/* Стили для ссылок */
a {
  color: #008f91;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Стили для изображений */
img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Стили для формы */
form {
  display: grid;
  gap: 15px;
}

fieldset {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
}

legend {
  font-weight: bold;
  color: #008f91;
}

input[type="text"],
button {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-top: 10px;
}

button {
  background-color: #008f91;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #007b80;
}

/* Стили для футера */
footer {
  text-align: center;
  padding: 10px;
  background-color: #008f91;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer a {
  color: white;
}
